section.intro.intro--map.map
    div.intro__inner.container
        div(id="mapdiv" class="mapdiv")
        div.intro__content.map__content
            h3.intro__title.heading.heading--l География деятельности
            div.map-info
                div.map-info__block
                    div.map-info__column
                        p.map-info__number &gt;100 тыс.
                        p.map-info__text рабочих мест
                div.map-info__block
                    div.map-info__row
                        div.map-info__column
                            p.map-info__number &gt;20
                            p.map-info__text регионов РФ
                        div.map-info__column
                            p.map-info__number 4
                            p.map-info__text страны присутствия
                    div.map-info__annotation
                        p.map-info__text.map-info__text--decorated Предприятия в России
                        p.map-info__text.map-info__text--decorated Совместные предприятия за рубежом