section.intro.intro--main
    div.intro__inner.container
        h3.intro__title.heading.heading--l Высшая точка достижений
            span.accent .
        p.text.intro__comment  ИНТЕРАКТИВНЫЙ ГОДОВОЙ ОТЧЁТ
