section.intro.intro--main
    div.intro__inner.container
        img.cloud__item.cloud__item--l(src="../img/cloud1.png" alt="")
        img.cloud__item.cloud__item--l2(src="../img/cloud1.png" alt="" height="400" width="458")
        img.cloud__item.cloud__item--m(src="../img/cloud1.png" alt="" height="540" width="858")
        img.cloud__item.cloud__item--s(src="../img/cloud1.png" alt="" height="456" width="720")
        img.cloud__item.cloud__item--s2(src="../img/cloud1.png" alt="" height="456" width="720")
        img.plane__item.plane__item--l(src="../img/plane1.png" alt="")
        h3.intro__title.heading.heading--l Высшая точка достижений
            span.accent .
        p.text.intro__comment  ИНТЕРАКТИВНЫЙ ГОДОВОЙ ОТЧЁТ
