section.intro.intro--civil
    div.intro__inner.container
        h3.intro__title.heading.heading--m Гражданская<br>авиация
        p.intro__subtitle динамика поставок воздушных судов
        div.intro__content
            div.table.intro__table.table-slider-mobile
                div.table__column
                    p.table__cell.table__cell--heading.table__cell--m Показатель
                    p.table__cell.table__cell--m.table__cell--b Гражданская авиация
                    p.table__cell.table__cell--m в т.&nbsp;ч. внутренний рынок
                    p.table__cell.table__cell--m экспорт
                div.table__column
                    p.table__cell.table__cell--heading 2013
                    p.table__cell.table__cell--b 32
                    p.table__cell 18
                    p.table__cell 14
                div.table__column
                    p.table__cell.table__cell--heading 2014
                    p.table__cell.table__cell--b 35
                    p.table__cell 26
                    p.table__cell 9
                div.table__column
                    p.table__cell.table__cell--heading 2015
                    p.table__cell.table__cell--b 30
                    p.table__cell 25
                    p.table__cell 5
                div.table__column
                    p.table__cell.table__cell--heading 2016
                    p.table__cell.table__cell--b 37
                    p.table__cell 26
                    p.table__cell 11
                div.table__column
                    p.table__cell.table__cell--heading 2017
                    p.table__cell.table__cell--b 36
                    p.table__cell 34
                    p.table__cell 2