section.intro.intro--military
    div.intro__inner.container
        h3.intro__title.heading.heading--m Военная<br>авиация
        p.intro__subtitle динамика поставок воздушных судов
        div.intro__content
            div.table.intro__table.table-slider-mobile
                div.table__column
                    p.table__cell.table__cell--heading.table__cell--l Показатель
                    p.table__cell.table__cell--l.table__cell--b Военная авиация
                    p.table__cell.table__cell--l в т.&nbsp;ч. внутренний рынок
                    p.table__cell.table__cell--l экспорт
                div.table__column
                    p.table__cell.table__cell--heading 2013
                    p.table__cell.table__cell--b 79
                    p.table__cell 54
                    p.table__cell 25
                div.table__column
                    p.table__cell.table__cell--heading 2014
                    p.table__cell.table__cell--b 124
                    p.table__cell 102
                    p.table__cell 22
                div.table__column
                    p.table__cell.table__cell--heading 2015
                    p.table__cell.table__cell--b 124
                    p.table__cell 90
                    p.table__cell 343
                div.table__column
                    p.table__cell.table__cell--heading 2016
                    p.table__cell.table__cell--b 103
                    p.table__cell 72
                    p.table__cell 31
                div.table__column
                    p.table__cell.table__cell--heading 2017
                    p.table__cell.table__cell--b 94
                    p.table__cell 56
                    p.table__cell 38