section.intro.intro--models.cloud
    div.intro__inner.container.cloud__content
        img.cloud__item.cloud__item--l(src="../img/cloud1.png" alt="")
        img.cloud__item.cloud__item--m(src="../img/cloud1.png" alt="" height='540' width='858')
        img.cloud__item.cloud__item--s(src="../img/cloud1.png" alt="" height='456' width='720')

        div.intro__content
        h3.intro__title.heading.heading--l Модельный <br/>ряд корпорации ПАО &laquo;ОАК&raquo;
        p.intro__subtitle Объединенная авиастроительная корпорация&nbsp;&mdash; один из&nbsp;лидеров <br>на&nbsp;мировом рынке военной и&nbsp;гражданской авиационной техники.
            ul.circle-nav.slider-circle-nav
                li.circle-nav__item-wrp
                    div.circle-nav__item.circle-nav__item--civ
                        div.circle-nav__link-wrp
                            a.circle-nav__link(href='#')
                                span.circle-nav__decor
                    a.circle-nav__caption(href='#') Гражданская авиация
                li.circle-nav__item-wrp
                    div.circle-nav__item.circle-nav__item--mil
                        div.circle-nav__link-wrp
                            a.circle-nav__link(href='#')
                                span.circle-nav__decor
                    a.circle-nav__caption(href='#') Военная авиация
                li.circle-nav__item-wrp
                    div.circle-nav__item.circle-nav__item--tran
                        div.circle-nav__link-wrp
                            a.circle-nav__link(href='#')
                                span.circle-nav__decor
                    a.circle-nav__caption(href='#') Транспортная и&nbsp;специальная авиация