section.intro.intro--transport
    div.intro__inner.container
        h3.intro__title.heading.heading--m Транспортная<br/>и&nbsp;специальная авиация
        p.intro__subtitle динамика поставок воздушных судов
        div.intro__content
            div.table.intro__table.table-slider-mobile
                div.table__column
                    p.table__cell.table__cell--heading.table__cell--xl Показатель
                    p.table__cell.table__cell--xl.table__cell--b Транспортная и&nbsp;специальная авиация
                    p.table__cell.table__cell--xl в т.&nbsp;ч. внутренний рынок
                    p.table__cell.table__cell--xl экспорт
                div.table__column
                    p.table__cell.table__cell--heading 2013
                    p.table__cell.table__cell--b —
                    p.table__cell —
                    p.table__cell —
                div.table__column
                    p.table__cell.table__cell--heading 2014
                    p.table__cell.table__cell--b —
                    p.table__cell —
                    p.table__cell —
                div.table__column
                    p.table__cell.table__cell--heading 2015
                    p.table__cell.table__cell--b 2
                    p.table__cell 2
                    p.table__cell —
                div.table__column
                    p.table__cell.table__cell--heading 2016
                    p.table__cell.table__cell--b 1
                    p.table__cell 1
                    p.table__cell —
                div.table__column
                    p.table__cell.table__cell--heading 2017
                    p.table__cell.table__cell--b 3
                    p.table__cell 3
                    p.table__cell —
