div.description
    div.description__block
        p.description__caption.caption
            img(src="../img/icons/about-management.png" alt="" height="30" width="30")
            span упрaвляющая компания
        p.description__caption.caption
            img(src="../img/icons/about-construction.png" alt="" height="30" width="30")
            span опытно-конструкторское<br/>бюро
        p.description__caption.caption
            img(src="../img/icons/about-plant.png" alt="" height="30" width="30")
            span завод
    div.description__block
        p.description__caption.caption.caption--bold.caption--decor-blue Совместные предприятия<br>за рубежом
        div.description__images
            img(src="../img/china.png" alt="" height="120" width="200")
            img(src="../img/india.png" alt="" height="120" width="200")
            img(src="../img/italy.png" alt="" height="120" width="200")