div.facilities__wrp
    div.facilities
        div.facilities__header.facilities__header-slider
            p.facilities__heading.facilities__col-1 Город
            div.facilities__col-2.row
                p.facilities__heading.facilities__name Предприятие
                p.facilities__heading.facilities__comment.hide-for-mobile Комментарий
        div.facilities__section
            p.facilities__title.caption.caption--decor-red Предприятия в России
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Москва
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name Штаб-квартира ПАО «ОАК»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name ПАО «Компания «Сухой»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                            img(src="../img/icons/about-construction.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name АО «Гражданские самолеты Сухого»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                            img(src="../img/icons/about-construction.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name ПАО «Научно-производственная корпорация «Иркут»
                        p.facilities__comment
                            img(src="../img/icons/about-construction.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name ОАО «ОКБ им. А. С. Яковлева»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name АО «ОАК-Транспортные самолеты»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                            img(src="../img/icons/about-construction.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name ПАО «Туполев»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                            img(src="../img/icons/about-construction.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name ПАО «Авиационный комплекс им. С. В. Ильюшина»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                            img(src="../img/icons/about-construction.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name ООО «ОАК-Закупки»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name АО «АэроКомпозит»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name ООО «ОАК – Центр комплексирования»
                        p.facilities__comment
                            img(src="../img/icons/about-construction.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name АО «Российская самолетостроительная корпорация
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                            img(src="../img/icons/about-construction.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name «МиГ»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                            img(src="../img/icons/about-construction.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name ООО «ОАК-Капитал»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name ООО «ОАК-Девелопмент»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name ОАО «Ильюшин Финанс Ко.»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")

            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Жуковский
                    span Московская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name АО «Экспериментальный машиностроительный завод им. В. М. Мясищева»
                        p.facilities__comment
                            img(src="../img/icons/about-construction.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name АО «Летно-исследовательский институт им. М. М. Громова»
                        p.facilities__comment
                            img(src="../img/icons/about-construction.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Кубинка
                    span Московская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name АО «121 АРЗ»
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Луховицы
                    span Московская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name Луховицкий авиационный завод им. Воронина – филиал АО «РСК «МиГ»
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Люберцы
                    span Московская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name АО «Авиаремонт»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Казань
                    span Респ. Татарстан
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name Казанский авиационный завод им. С. П. Горбунова – филиал ПAO «Туполев»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name АО «КАПО-Композит»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Ульяновск
                    span Ульяновская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name АО «Авиастар-СП»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name АО «АэроКомпозит-Ульяновск»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Воронеж
                    span Воронежская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name ПАО «Воронежское акционерное самолетостроительное общество»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Таганрог
                    span Ростовская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name ПАО «Таганрогский авиационный научно-технический комплекс им. Г. М. Бериева»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name ОАО «325 АРЗ»
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Нижний Новгород
                    span Нижегородская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name Нижегородский авиастроительный завод «Сокол» – филиал АО «РСК «МиГ»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                    div.facilities__item
                        p.facilities__name ОАО «170 РЗ СОП»
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Новосибирск
                    span Новосибирская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name Новосибирский авиационный завод им. В. П. Чкалова – филиал ПАО «Компания «Сухой»
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Иркутск
                    span Иркутскская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name Иркутский авиационный завод – филиал ПАО «Корпорация «Иркут»
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
                            img(src="../img/icons/about-construction.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Комсомольск-на-Амуре
                    span Хабаровский край
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name Комсомольский-на-Амуре авиационный завод им. Ю. А. Гагарина – филиал ПАО «Компания «Сухой»
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
                            img(src="../img/icons/about-construction.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Пушкин
                    span Ленинградская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name ОАО «20 АРЗ»
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Белогорск
                    span Амурская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name ОАО «680 АРЗ»
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Старая Русса
                    span Новгородская  обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name ОАО «123 АРЗ»
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Краснодар
                    span Краснодарский край
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name ОАО «275 АРЗ»
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Иваново
                    span Ивановская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name ОАО «308 АРЗ»
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Воздвиженка
                    span Приморский край
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name ОАО «322 АРЗ»
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Рославль
                    span Смоленская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name ОАО «720 РЗ СОП» ремонтный завод средств обеспечения полетов
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Волгоград
                    span Волгоградская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name ОАО «ВЗ РТО» Волгоградский завод радиотехнического оборудования
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Новочеркасск
                    span Ростовская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name ОАО «31 ЗАТО» завод авиационно-технологического оборудования
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Рязань
                    span Рязанская обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name АО «360 АРЗ»
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Ржев
                    span Тверская  обл.
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name АО «514 АРЗ»
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__col-1 Спасск-Дальний
                    span Приморский край
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name ОАО «32 РЗ СОП» ремонтный завод средств обеспечения полетов
                        p.facilities__comment
                            img(src="../img/icons/about-plant.png" alt="" height="20" width="20")

        div.facilities__section
            p.facilities__title.caption.caption--decor-blue Совместные предприятия за рубежом
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__location--foreign.facilities__col-1 Шанхай&nbsp;
                    span (Китай)
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name China-Russia Commercial Aircraft International Corporation Co., Ltd.
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__location--foreign.facilities__col-1 Бангалор&nbsp;
                    span (Индия)
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name Mutilrole Transport Aircraft Limited
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
            div.facilities__block.facilities__slider
                div.facilities__location.facilities__location--foreign.facilities__col-1 Венеция&nbsp;
                    span (Италия)
                div.facilities__list.facilities__col-2
                    div.facilities__item
                        p.facilities__name SuperJet International S.p.A.
                        p.facilities__comment
                            img(src="../img/icons/about-management.png" alt="" height="20" width="20")
                            img(src="../img/icons/about-construction.png" alt="" height="20" width="20")



