div.table.table--highlighed.js-table-white-slider
    div.table__column
        p.table__cell.table__cell--filled.table__cell--ml Показатель
        div.table__block
            p.table__cell.table__cell--ml.table__cell--b Гражданская авиация
            p.table__cell.table__cell--ml в т.&nbsp;ч. внутренний рынок
            p.table__cell.table__cell--ml экспорт
        div.table__block
            p.table__cell.table__cell--ml.table__cell--b Военная авиация
            p.table__cell.table__cell--ml в т.&nbsp;ч. внутренний рынок
            p.table__cell.table__cell--ml экспорт
        div.table__block
            p.table__cell.table__cell--ml.table__cell--b Транспортная и&nbsp;спец авиация
            p.table__cell.table__cell--ml в т.&nbsp;ч. внутренний рынок
            p.table__cell.table__cell--ml экспорт
        p.table__cell.table__cell--filled.table__cell--ml Итого

    div.table__column
        p.table__cell.table__cell--filled 2013
        div.table__block
            p.table__cell.table__cell--b 32
            p.table__cell 18
            p.table__cell 14
        div.table__block
            p.table__cell.table__cell--b 79
            p.table__cell 54
            p.table__cell 25
        div.table__block
            p.table__cell.table__cell--b —
            p.table__cell —
            p.table__cell —
        p.table__cell.table__cell--filled 111

    div.table__column
        p.table__cell.table__cell--filled 2014
        div.table__block
            p.table__cell.table__cell--b 35
            p.table__cell 26
            p.table__cell 9
        div.table__block
            p.table__cell.table__cell--b 124
            p.table__cell 102
            p.table__cell 22
        div.table__block
            p.table__cell.table__cell--b —
            p.table__cell —
            p.table__cell —
        p.table__cell.table__cell--filled 159


    div.table__column
        p.table__cell.table__cell--filled 2015
        div.table__block
            p.table__cell.table__cell--b 30
            p.table__cell 25
            p.table__cell 5
        div.table__block
            p.table__cell.table__cell--b 124
            p.table__cell 90
            p.table__cell 343
        div.table__block
            p.table__cell.table__cell--b 2
            p.table__cell 2
            p.table__cell —
        p.table__cell.table__cell--filled 156

    div.table__column
        p.table__cell.table__cell--filled 2016
        div.table__block
            p.table__cell.table__cell--b 37
            p.table__cell 26
            p.table__cell 11
        div.table__block
            p.table__cell.table__cell--b 103
            p.table__cell 72
            p.table__cell 31
        div.table__block
            p.table__cell.table__cell--b 1
            p.table__cell 1
            p.table__cell —
        p.table__cell.table__cell--filled 141

    div.table__column
        p.table__cell.table__cell--filled 2017
        div.table__block
            p.table__cell.table__cell--b 36
            p.table__cell 34
            p.table__cell 2
        div.table__block
            p.table__cell.table__cell--b 94
            p.table__cell 56
            p.table__cell 38
        div.table__block
            p.table__cell.table__cell--b 3
            p.table__cell 3
            p.table__cell —
        p.table__cell.table__cell--filled 133