$black: #000000;
$white: #ffffff;

$primary: #173d8c;
$primary-lighten: #194487;
$primary-lightest: #2f4f9c;
$secondary: #ef2e24;
$thirdly: #6a747b;

$gray-dark: #292a2c;
$gray-main: #636468;
$gray-lighten: #77797d;
$gray-lightest: #ebeef4;

//$gray-lighten: #E3E3E3;
//$gray-lightest: #F5F5F5;

$accent: #c41b1f;
$light-accent: #6dabdf;
$dark-accent: #363674;


$breakpointDisplayLarge: 'screen and (min-width: 1240px) and (min-height: 960px) and (max-height: 1200px)';
$breakpointDisplay: 'screen and (min-width: 1240px)';
$breakpointTablet: 'screen and (max-width: 1239px)';
$breakpointMobile: 'screen and (max-width: 767px)';

$gapLg: 80px;
